{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <center>
               <h1>About Us</h1>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <center>
            <img class="img-fluid" src="https://qph.fs.quoracdn.net/main-qimg-0be2df335d3deb764337422333b30f94" height="100px" width="500px" />
                </center>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col ">
            <center>
             <p class="text text-justify"> According to our "AquaFish" aquarium fish recognition model, which is a sophisticated and intelligent method 
                 for recognizing fish species based on aquarium fish photos. As a result of the project's basic 
                 activities, 7 different aquarium fish species are classified.  Our "AquaFish" model can scientifically predict fish. 
                 The web application will output the scientific name of the aquarium fish species as a result. Apart from the system, 
                 if time allows, we will add or ensure that it is capable of switching to a VGG16 pre-train model that can be tweaked to 
                 fit our datasets and can predict aquarium fish species names by taking photos. It has the potential to significantly reduce the 
                 time-consuming chore of the fish merchant, keeper, and fish enthusiast.Let's have a look at the features of the "AquaFish" image recognition model, 
                 which are described below.</p>
                
            </center>
        </div>
    </div>
</div>


{% endblock body %}