{% extends 'base.html' %}
{% block body %}
    
<div class="login">
    <div class="wrapper">
       <div class="title-text">
          <div class="title login">
             Find Your Password Here...
          </div>
       </div>
       <div class="form-container">
          
          <div class="form-inner">
             <form action="#" class="login" method="POST">
				<div><center>
					<label style="color:red;">{{erroruser}}</label>
					</center></div>
					<div><center>
					<label style="color:green;"> Your password: {{psw}}</label>
					</center></div>
                <div class="field">
                   <input type="email" name="email" placeholder="Gmail" required>
                </div>
                <div class="field">
                <button input type="submit" name="action" value="Register" class="btn btn-primary">Search</button>
				
               </div>
			   <a href="/login">Back to Login Page</a>
             </form>
          </div>
       </div>
    </div>
    </div>
    

{% endblock body %}